'fileTypes': [
  'd'
]
'name': 'D'
'scopeName': 'source.d'
'patterns': [
  {
    'include': '#comments'
  }
]
'repository':
  'comments':
    'patterns': [
      {
        'begin': '/\\*'
        'beginCaptures':
          '0': 'name': 'punctuation.definition.comment.begin.d'
        'end': '\\*/'
        'endCaptures':
          '0': 'name': 'punctuation.definition.comment.end.d'
        'name': 'comment.block.d'
      }
      {
        'begin': '//'
        'beginCaptures':
          '0': 'name': 'punctuation.definition.comment.d'
        'end': '\\n'
        'name': 'comment.line.double-slash.d'
      }
    ]
