'.source.d':
  'editor':
    'commentStart': '// '
    # 'foldEndPattern': '^\\s*(\\}|// \\}\\}\\}$)'
    # 'increaseIndentPattern': '^.*\\{(\\}|[^}"\']*)$|^\\s*(public|private|protected):\\s*$'
    # 'decreaseIndentPattern': '^(.*\\*/)?\\s*\\}|^\\s*(public|private|protected):\\s*$',
    'completions': [
        'core'
        'core.atomic'
        'core.bitop'
        'core.cpuid'
        'core.demangle'
        'core.exception'
        'core.memory'
        'core.runtime'
        'core.simd'
        'core.thread'
        'core.time'
        'core.vararg'
        'core.sync'
        'core.sync.barrier'
        'core.sync.condition'
        'core.sync.config'
        'core.sync.exception'
        'core.sync.mutex'
        'core.sync.rwmutex'
        'core.sync.semaphore'
        'etc.c.curl'
        'etc.c.sqlite3'
        'etc.c.zlib'
        'import'
        'int'
        'long'
        'main'
        'module'
        'printf'
        'size_t'
        'std'
        'std.algorithm'
        'std.array'
        'std.ascii'
        'std.base64'
        'std.bigint'
        'std.bitmanip'
        'std.compiler'
        'std.complex'
        'std.concurrency'
        'std.container'
        'std.conv'
        'std.csv'
        'std.datetime'
        'std.encoding'
        'std.exception'
        'std.file'
        'std.format'
        'std.functionnal'
        'std.getopt'
        'std;json'
        'std.math'
        'std.mathspecial'
        'std.metastrings'
        'std.mmfile'
        'std.numeric'
        'std.outbuffer'
        'std.parallelism'
        'std.patch'
        'std.process'
        'std.random'
        'std.range'
        'std.regex'
        'std.signals'
        'std.socket'
        'std.socketstream'
        'std.stdio'
        'std.cstream'
        'std.stream'
        'std.string'
        'std.system'
        'std.traits'
        'std.typecons'
        'std.typetuple'
        'std.uni'
        'std.uri'
        'std.utf'
        'std.uuid'
        'std.variant'
        'std.xml'
        'std.zip'
        'std.zlib'
        'std.net'
        'std.net.curl'
        'std.net.isemail'
        'std.digest.crc'
        'std.digest.digest'
        'std.digest.md'
        'std.digest.ripemd'
        'std.digest.sha'
        'std.windows.charset'
        'string'
        'super'
        'this'
        'void'
        'write'
        'writeln'
    ]
'.text.html.d':
  'editor':
    'foldEndPattern': '\\*\\*/|^\\s*\\}'
